.Navbra-main{
  width: 1440px;
  height: 241px;
  background-color: #000000;  
  opacity: 0.7;
  /* position: fixed; */
}
.main-container{
  /* margin: 50px 10%; */
  /* background: #323334; */
  width: 1440px;
  height: 1024px;
  /* top: -613px;
  left: 1065px; */

}
.NavChild{
  display: flex;
  justify-content: space-around;
  width: Fixed (1,200px);
 height: Hug (40px);
 top: 85px;
 left: 120px;
 justify: space-between;

}
.name{
margin-top: 85px;
font-family: Inter;
font-size: 32px;
font-weight: 700;
line-height: 39px;
letter-spacing: 0em;
text-align: left;
color: white;
/* background: linear-gradient(0deg, #FF0909, #FF0909),
linear-gradient(0deg, #FF0A0A, #FF0A0A),
linear-gradient(0deg, #FFFFFF, #FFFFFF); */
}

#input{ 
width: 285px;
margin-top: 85px;
font-family: Inter;
padding-left: 19px;
height: 40px;
background-color:transparent;
border-radius: 5px;
border: 1px solid red;
color: white;
}

.MainInner{
width: 1440px;
height: 785px;
top: 239px;
padding: 40px;
background: #0D0D0DC2;
background-image: url(./picture/foodyzone.jpg);
background-repeat: no-repeat;
background-position: center;background-size: cover;    display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 167px);
gap: 10px; /* Adjust the gap as needed */
overflow-y: scroll;

}

.InnerItem{
  width: 340px;
  height: 167px;
  border: 0.66px solid;
  border-image-source: radial-gradient(80.69% 208.78% at 108.28% 112.58%, #EABFFF 0%, rgba(135, 38, 183, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
  radial-gradient(80.38% 222.5% at -13.75% -12.36%, #98F9FF 0%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  display: flex;
  overflow: hidden;;
  justify-content: center;
  border-radius: 10px;
}


.image{
width: 100px;
height: 100px;
margin-top: 7px;
margin-left: 13px;
border-radius: 50px;
}
.propertie{
  margin-left: 20px;
  width: 300px;
   gap: 8px;
}
.headingname{
  font-family: Inter;
  font-size: 22px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
text-transform: capitalize;
color: #FFFFFF;
  
}
.description{
  color: #FFFFFF;
  font-size: 12px;
}
button{
  background: #FF4343;
  width: Hug (43px);
  height: Hug (31px);
  padding: 6px 12px 6px 12px;
  border-radius: 5px;
  gap: 10px;
  color: white;
  margin-left: 100px;
  
}
.Buttons{
margin-top: 50px;
margin-left: 200px;
}